<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h4>Supplier Details</h4>

    <form action="" method = "POST">

        <div class="form-group row">
            <label for="name">Supplier Name</label>
                            <select class="custom-select" id="name", name="name">
              <option value="..." >...</option>
      {% for supplier in suppliers %}
      <option value="{{supplier}}" >{{supplier}}</option>
      {% endfor %}
  </select>
        </div>
        <div class="form-group row">
            <label for="contact">Supplier Contacts</label>
            <input type="text" class="form-control" name="contact" id="contact">
        </div>
        <div class="form-group row">
            <label for="rate">Supplier Rate</label>
            <select class="custom-select" id="rate", name="rate">
              <option value="..." >...</option>
                 <option value="1" >1</option>
                 <option value="2" >2</option>
                 <option value="3" >3</option>
                 <option value="4" >4</option>
                 <option value="5" >5</option>
                 <option value="6" >6</option>
                 <option value="7" >7</option>
                 <option value="8" >8</option>
                 <option value="9" >9</option>
                <option value="10" >10</option>
  </select>
        </div>

        <button type="btnAdd" class="btn btn-dark btn-sm" >Submit</button>
        <a href="/suppliers" class="btn btn-dark btn-sm">Cancel</a>
              {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      </form>
</body>









