<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h4>Product Details</h4>

    <form action="" method = "POST">
        <div class="form-group row">
            <label for="name">Product Name</label>
                                      <select class="custom-select" id="name", name="name">
                  <option value="..." >...</option>
      {% for product in products %}
      <option value="{{product}}" >{{product}}</option>
      {% endfor %}
  </select>
        </div>

        <div class="form-group row">
            <label for="price">Product Price</label>
            <input type="text" class="form-control" name="price" id="price">
        </div>

                <div class="form-group row">
            <label for="supplier_id">Supplier Name</label>
                <select class="custom-select" id="supplier_id", name="supplier_id">
              <option value="..." >...</option>
      {% for supplier in suppliers %}
      <option value="{{supplier}}" >{{supplier}}</option>
      {% endfor %}
  </select>
                    </div>
        <div class="form-group row">
            <label for="storage_id">Storage №</label>
            <select class="custom-select" id="storage_id", name="storage_id">
              <option value="..." >...</option>
      {% for storage in storages %}
      <option value="{{storage}}" >{{storage}}</option>
      {% endfor %}
  </select>
        </div>


        <button type="btnAdd" class="btn btn-dark btn-sm" >Submit</button>
        <a href="/products" class="btn btn-dark btn-sm">Cancel</a>
              {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      </form>
</body>